@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Molle:400i|Uncial+Antiqua|Zhi+Mang+Xing&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: "Raleway", sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.pads {
    background-color: lightblue;
    width: 100%;
    display: flex;
}

.pads>div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background: rgb(134, 221, 134);
}

.pad2 {
    background: rgb(17, 22, 88);
}

.pad3 {
    background: rgb(155, 60, 104);
}

.pad4 {
    background: rgb(211, 114, 24);
}

.pad5 {
    background: rgb(51, 48, 45);
}

.pad6 {
    background: rgb(149, 115, 245);
}


.visual>div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
}

@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }

    50% {
        bottom: 50%;
        z-index: 1;
        left: 50%;
    }

    100% {
        bottom: 00%;
        left: 80%;
    }
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: whitesmoke;
    padding: 5px;
    border: red;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;

}

.bottom-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons i {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}


.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.btn-submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.btn-submit {
    margin-top: 10px;
}